html, body {
  background-color: #000;
}
hr {
  width: 100%;
}
/* BGN - header */
  #header {
    position: fixed;
    width: 100%;
    background: #FFF;
    margin-left: -15px;
    border: none;
    z-index: 10;
  }
/* END - header */

#home { color: #fff; background-color: #1E88E5; background-size: cover;
  background: url(https://s3.amazonaws.com/tra-assets/freecodecamp/home.jpg) no-repeat bottom center;
}
    .page-section-home {
      min-height: 450px;
      padding: 50px 0;
      border-bottom: 5px solid #fff;
      font-size: 28px;
    }
#about {color: #fff; background-color: #6a6b6c; padding: 50px 0;
}
#about_col_one, #about_col_two,#about_col_three  {
  padding-top: 50px; 
}
#skills_title {
}
#skills li {
  list-style-type: none;
}
.separator_left {
    width:85px;
    height:2px;
    margin:20px 0px;
    background: #ff6863;
}
.separator_auto{
    width:85px;
    height:2px;
    margin:20px auto;
    background: #ff6863;
}
#portfolio {color: #fff; background-color: #6a6b6c;}
  /*
  Portfolio Section style
  ==================*/
  .page-section-portfolio {
    min-height: 450px;
    padding: 50px 0;
    border-bottom: 5px solid #fff;
    font-size: 28px;
  }
  

/*-----------------------------------------------------------------------------------------*/
.main_portfolio{
    width:100%;
    overflow: hidden;
}
.portfolio_item{
    position: relative;
    overflow: hidden;
}
.portfolio_item:hover img{
    -webkit-transform: scale(1.1) rotate(2deg);
    -moz-transform: scale(1.1) rotate(2deg);
    -o-transform: scale(1.1) rotate(2deg);
    -ms-transform: scale(1.1) rotate(2deg);
    transform: scale(1.1) rotate(2deg);
}
.portfolio_item img{
    width:100%;
  margin-top: 30px;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    transition: all 0.6s;
}
.portfolio_hover{
    position: absolute;
    left:0%;
    right:0%;
    top:0%;
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.30); 
    padding-top: 12%;
    opacity: 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -ms-transition: all 0.4s;
    transition: all 0.4s;
}
.portfolio_item:hover .portfolio_hover{
    opacity: 1;
}
.portfolio_item2 .portfolio_hover{ 
    padding-top: 25%;
}
.portfolio_item3 .portfolio_hover{ 
    padding-top: 65%;
}

.home_btns ,
.impress_btns ,
.portfolio_hover_icon{
    margin-left: -10px;
}
.subscribe_btns button.btn,
.home_btns a,
.impress_btns a,
.portfolio_hover_icon a{
    margin-left: 10px;
}

.portfolio_hover_icon a i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border:1px solid;
    border-color:#fff;
    display: inline-block;
    color:#fff;
    border-radius: 50%;
}

/*------------------------------------------------------------------------------------*/
  /*===============*/

#contact {color: #fff; background-color: #6a6b6c;
  background: url(https://s3.amazonaws.com/tra-assets/freecodecamp/contactus.jpg) no-repeat bottom center;
}
  /*
  Contact Section style
  ==================*/
  .page-section-contact {
    min-height: 450px;
    padding: 50px 0;
    border-bottom: 5px solid #fff;
    font-size: 28px;
  }
  .btn-primary {
      color: #fff;
      background-color: #ff6863;
      border:1px solid;
      border-color: #ff6863;
      padding: 1rem 2rem;
  }
  .btn-primary:hover {
      background-color: #eee;
      border-color: #eee;
      color:#ff6863;
  }
  #send_button {
    width: 100%;
  }
  #modal_dialog {
    color: #000;
    background-color: #6a6b6c;
  }
  /*===============*/

/* END - sections */
/* BGN - FOOTER */
#footer  {color: #fff;   }
#footer a{color: #ff0000;}
/* END - FOOTER */

/* BGN SHAPES */
#social_sphere00,#social_sphere01,#social_sphere02 {
  display: block;
  width: 60px;
  height: 60px;
  margin: 30px auto 0;
  background-color: #ff6863;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.5);
  z-index: -1;
}
.center-sphere{
  padding-left: 5px;
  padding-top: 21px;
}
#social a {
  color:#fff;
}
#social a:hover {
  color:#23527c;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 980px) {
  .my_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
      width: auto;
      border-top: 0;
      box-shadow: none;
  }
  .pull-right {
    float: right!important;
}
  .my_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

}

@media only screen and (max-width: 640px) {
  .my_container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
  }

  .col-sm-12 {
      position: relative;
      min-height: 1px;
      padding-right: 15px;
      padding-left: 15px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
  }
}
